* {
    margin: 0;
    padding: 0;
}

body {
font-family: 'Roboto', sans-serif;
}

:root {
--brand-color:#2E2F42;
--slate-color:#434455;
--activate-color: #4D5AE5;
--ocean: #404BBF;
}

img {
    display: block;
  }
  

  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {

    .container {
        width: 428px;
    }

/* section two start */

.section-two {
    
}

  }